.lh-copy a {
  color: #000;
}

.lh-copy a:hover {
  color: #E7040F;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}

blockquote {
  font-style: italic;
}

img + em {
  font-size: .7rem;
  text-align: center;
  display: block;
}

blockquote {

}

table {
    max-width: 64rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#post h1 {
  font-size:1.5rem;
}

#post h2 {
  font-size:1.25rem;
}

#post h3 {
  font-size:1rem;
}
