:root {
  --pers: #8F0C50;
  --pers-yellow: #FFD700;
}

body {
  color: black;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}

a {
    text-decoration-thickness: .1em;
}


a:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #FFD700;
  text-decoration-thickness: .2em;
}

.lh-copy a:hover {
    color: var(--pers);
}

#header a {
  color: black;
}

#twitter a {
  color: black;
}


@media (prefers-color-scheme: dark) {
  #header a {
    color: white;
  }
}

::selection {
  background: var(--pers-yellow); /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: var(--pers-yellow); /* Gecko Browsers */
  color: black;
}




#header a:hover {
  color: var(--pers);
}

/*
@media (min-width: 1150px) {
#home {
  background-image: url(/images/cuddy_headshot2.jpg);
  background-position: right top;
  background-size: 470px;
  background-repeat: no-repeat;
}
}*/

@media (min-width: 900px) {
  /* #writing_text {
    text-align: center;
  } */

}

@media (min-width: 60em) {
  #intro_text {
    /*margin-left: 10%;*/
  }
}

@media (max-width: 60em) {
  #intro_text {
    margin-right: auto;
    margin-left: auto;
  }

}


#intro_text {
  line-height:1.6;
}

#writing_text {
  margin-top: 15%;
}

#header {
  color: black;
  /*font-family: "Work Sans", Helvetica, sans-serif;*/
}

#blog_posts{
  text-align:left;
}

#blog_posts h2{
  color: black;
/*  font-family: "Work Sans", Helvetica, sans-serif;
*/  font-weight: 700;
}

#blog_posts a{
  color: black;
}

#blog_posts p{
  color: black;
  // font-family: 'Libre Baskerville', serif;
  margin-bottom: 20px;
}

#lead::first-letter {
  font-size: 200%;
  // font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

#article h2 {
  font-weight: 900;
  color: black;
  margin-bottom: 1%;
}

#article a {
  color: black;
}

#blog_title {
  margin-bottom: 2%;
}

#article p {
  color: black;
}

#skin, #corpse, #anne, #moon, #proud {
  display: none;
}

#intro {
    // font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}

#acting {

}

#logo {
  color: black;
  font-weight: 600;
}

/*.lh-copy {
  line-height: 1.8;
}*/

.lh-copy a {
  color: #000;
}

#footer {
  margin-left: -32px;
  margin-right: -32px;
  margin-top: 2rem;
  border-top: 2px solid var(--pers);
  background-color: black;
  border-bottom: 2px solid var(--pers);
}

/* Dark MODE!*/
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .lh-copy a {
    color: white;
  }

  #twitter a {
    color: white;
  }


  #logo {
    color: white;
  }
  #blog_posts h2, #blog_posts a, #blog_posts p {
    color: white;
  }
  #article h2, #article p, #article a  {
    color: white;
  }
  #post, #title_link, #copyright a, blockquote p {
    color:white;
  }

}

/*.lh-copy a:hover {
  color: #E7040F;
}

#post a {
  color: red;
}

#post a:hover {
  color: pink;
}*/


h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}

blockquote {
  margin-left: 0;
  margin-top: 0;
  padding-left: 2rem;
  color: rgba(0, 0, 0, .9);
  border-left-style: solid;
  border-left-width: 1px;
  border-width: .25rem;
  border-color: var(--pers);
}

blockquote em {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-style: normal;
}


img + em {
  font-size: .7rem;
  text-align: center;
  display: block;
}


table {
    max-width: 64rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#post p, #post ul, #page, #footer p {
}

#post h1 {
  font-size:1.5rem;
}

#post h2 {
  font-size:2.25rem;
}

#post h3 {
  font-size:1.25rem;
}

/* PERSONAL CUSTOM CLASSES */

.bg-pers {
  background-color: var(--pers);
}

.hover-pers:hover {
  color: var(--pers);
  background-color: inherit;
}

.hover-pers-yellow:hover {
  color: var(--pers);
  background-color: var(--pers-yellow);
}

.pers {
  color: var(--pers);
}

.header__link {
transition: color 0.2s ease, text-decoration-color 0.2s ease;
transform: none;
margin: 0 0 0 0.6em;
display: inline-block;
line-height: 1.5;
font-weight: 700;
    font-weight: 700;
}

