.lh-copy a {
  color: #000;
}

.lh-copy a:hover {
  color: #E7040F;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
}

blockquote {
  margin-left: 0;
  margin-top: 0;
  padding-left: 2rem;
  color: rgba(0, 0, 0, .9);
  border-left-style: solid;
  border-left-width: 1px;
  border-width: .25rem;
  border-color: #408bc9;
}

blockquote em {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-style: normal;
}


img + em {
  font-size: .7rem;
  text-align: center;
  display: block;
}


table {
    max-width: 64rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#post h1 {
  font-size:1.5rem;
}

#post h2 {
  font-size:1.25rem;
}

#post h3 {
  font-size:1rem;
}
