---
layout: default
permalink: /blog
title: "BLOG"
---

<p>My daily blog on theatre, art, and life.</p>

    {% for post in site.posts limit:1 %}
    <p class="f1 sans-serif">
      <a href="{{ post.url }}">{{ post.title }}</a>
      </p>
      <p class="f5 i gray sans-serif"> {{ post.date | date_to_long_string }}</p>
      <span class="sans-serif f4">
        {{ post.content }}
      </span>
    {% endfor %}

    <h1 class="f3 lh-title sans-serif">Previous Essays:</h1>
    <p class="f5 i">You can also find me on <a class="link black b dim" target="_blank" href="http://medium.com/@guscuddy">Medium</a>.
  <ul>
    {% for post in site.posts %}
      <li>
        <a class ="link b black dim" href="{{ post.url }}">
          {{ post.title }}
        </a>
        - <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
      </li>
    {% endfor %}
  </ul>
