<footer id="copyright" class='pb2 pt2 mid-gray tc'><small>&copy; {{ page.date | date: '%Y' }} <a class="link b black dim" href="/">Gus Cuddy</a> ||
  {% if page.previous.url %}<a class="link b black dim" href="{{ page.previous.url }}">prev</a> {% endif %}
  {% if page.previous.url and page.next.url %} | {% endif %}
  {% if page.next.url %}<a class="link b black dim" href="{{ page.next.url }}">next</a> {% endif %} || <a class="link b black dim" href="https://guscuddy.com/feed.xml">RSS</a></small></footer>
