<section class="sans-serif" id="header">

    <nav class="dt w-100 border-box pa3 ph5-ns">
  <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
    <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name">
  </a>
  <div class="dtc v-mid w-75 tr">
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="About">Services</a>
    <a class="link dim dark-gray f6 f5-ns dib mr3 mr4-ns" href="#" title="Store">Blog</a>
    <a class="link dim dark-gray f6 f5-ns dib" href="#" title="Contact">Join Us</a>
  </div>
</nav>

  <nav class="tc tl-l">
    <a id="logo" class="f2 link no-underline underline-hover tc tl-l w-100 w-auto-l dib mr3" href="/" title="Home">Gus Cuddy</a>
<!--     {% if page.active == "home" %}
    <a class="link no-underline underline-hover red f4 dib mr3 pv1 pv0-l mt1" href="/" title="Home">start here</a>
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib mr3 pv1 pv0-l mt1" href="/" title="Home">start here</a>
    {% endif %}
 -->    {% if page.active == "blog" %}
    <a class="link no-underline underline-hover red f4 dib mr3" href="/blog" title="Essays">essays</a> 
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/blog" title="Essays">essays</a>
    {% endif %}
    {% if page.active == "acting" %}
    <a class="link no-underline underline-hover red f4 dib mr3" href="/acting" title="Acting">acting</a>
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/acting" title="Acting">acting</a>
    {% endif %}
    {% if page.active == "newsletter" %}
    <a class="link no-underline underline-hover red f4 dib mr3" href="/newsletter" title="Newsletter">newsletter</a>
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/newsletter" title="Newsletter">newsletter</a>
    {% endif %}
    {% if page.active == "links" %}
    <a class="link no-underline underline-hover red f4 dib" href="/links" title="Links">links</a>
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib" href="/links" title="Links">links</a>
    {% endif %}
  </nav>


  <!-- <div class="tc pb3 ttu tracked">
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/resume" title="Resume">Resume</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/blog" title="Blog">Blog</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/newsletter" title="Newsletter">Newsletter</a>
  </div> -->
</section>
