<section id="header">
  <nav class="">
    <a id="logo" class="link no-underline underline-hover f4 dib mr4" href="/" title="Home">GC</a>
    <a class="link no-underline underline-hover gray f4 dib mr4" href="/" title="Home">home</a>
    <a class="link no-underline underline-hover gray f4 dib mr4" href="/resume" title="Resume">resume</a>
    <a class="link no-underline underline-hover gray f4 dib" href="/blog" title="Blog">blog</a>
  </nav>
  <!-- <div class="tc pb3 ttu tracked">
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/resume" title="Resume">Resume</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/blog" title="Blog">Blog</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/newsletter" title="Newsletter">Newsletter</a>
  </div> -->
</section>
