<section id="header">

  <nav class="tc tl-l">
    <a id="logo" class="f3 link no-underline underline-hover tc tl-l w-100 w-auto-l dib mr3" href="/" title="Home">GUS CUDDY</a>
    <a class="link no-underline underline-hover gray f4 dib mr3 pv1 pv0-l mt1" href="/" title="Home">start here</a>
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/blog" title="Essays">essays</a>
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/acting" title="Acting">acting</a>
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/newsletter" title="Newsletter">newsletter</a>
    <a class="link no-underline underline-hover gray f4 dib" href="/links" title="Links">links</a>
  </nav>


  <!-- <div class="tc pb3 ttu tracked">
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/resume" title="Resume">Resume</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/blog" title="Blog">Blog</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/newsletter" title="Newsletter">Newsletter</a>
  </div> -->
</section>
