<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} | {% endif %} Gus Cuddy</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/tachyons.css"/>
  <link rel="stylesheet" href="/custom.css"/>

  <!-- <script src="https://unpkg.com/prefixfree@1.0.0/prefixfree.min.js"></script>

  <script src="https://wzrd.in/standalone/formdata-polyfill@latest"></script>
  <script src="https://wzrd.in/standalone/promise-polyfill@latest"></script>
  <script src="https://wzrd.in/standalone/whatwg-fetch@latest"></script> -->

  {% seo %}
  
</head>
