<section class="sans-serif mh4-l" id="header">

    <nav class="dt w-100 border-box">
  <a id="logo" class="f3 no-underline fw7 hover-pers dtc w-25" href="/" title="Home">GUS CUDDY</a>
  <div class="dtc v-mid w-75 tr">
    <a class="f4-ns f5 hover-pers dib mr3 mr4-ns" href="/blog" title="Essays">Essays</a>
    <a class="f4-ns f5 hover-pers dib mr3 mr4-ns" href="/acting" title="Acting">Acting</a>
    <a id="newsletter" class="f4-ns f5 hover-pers dib mr3 mr4-ns" href="/newsletter" title="Newsletter">Subscribe to my newsletter</a>
  </div>
</nav>


<!-- 
  <nav class="dt w-100">
    <a id="logo" class="dtc f2 link no-underline underline-hover tc tl-l w-100 w-auto-l dib mr3" href="/" title="Home">Gus Cuddy</a>
    {% if page.active == "blog" %}
    <a class="link no-underline underline-hover red f4 dib mr3" href="/blog" title="Essays">essays</a> 
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/blog" title="Essays">essays</a>
    {% endif %}
    {% if page.active == "acting" %}
    <a class="link no-underline underline-hover red f4 dib mr3" href="/acting" title="Acting">acting</a>
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/acting" title="Acting">acting</a>
    {% endif %}
    {% if page.active == "newsletter" %}
    <a class="link no-underline underline-hover red f4 dib mr3" href="/newsletter" title="Newsletter">newsletter</a>
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib mr3" href="/newsletter" title="Newsletter">newsletter</a>
    {% endif %}
    {% if page.active == "links" %}
    <a class="link no-underline underline-hover red f4 dib" href="/links" title="Links">links</a>
    {% else %}
    <a class="link no-underline underline-hover gray f4 dib" href="/links" title="Links">links</a>
    {% endif %}
  </nav> -->


  <!-- <div class="tc pb3 ttu tracked">
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/resume" title="Resume">Resume</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/blog" title="Blog">Blog</a>
    <a class="link hover-red lh-title black f6 dib mr2 mb0-ns mb2" href="/newsletter" title="Newsletter">Newsletter</a>
  </div> -->
</section>
