<!doctype html>
<html lang="en">
{% include head.html %}
{% include header.html %}

  <body class="pa4">

    <div id="intro_text" class="center measure-wide mt4 mt5-ns">
       {{ content }}
    </div>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>

</html>
