<!doctype html>
<html lang="en">
{% include head.html %}
{% include header.html %}

  <body class="helvetica ph5-ns ph3 black bg-white">

    <div class="black measure-wide lh-copy f5-ns f4 center">
      <div class="blog list">
          <h1>Filed Under <small>#{{ page.tag }}</small></h1>

          {% for post in site.categories[page.tag] %}
          <article class="archive-item">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
          </article>
          {% endfor %}
      </div>
    </div>

  </body>

</html>
