<!doctype html>
<html lang="en">
{% include head.html %}
{% include header.html %}

  <body class="pa4">

    <div class="black measure-wide f5-ns f4 center mt6-ns mt5">
    <a id="title_link" class="black no-underline lh-solid" href="{{ page.url }}"><h1 id="blog_title" class="f1 lh-solid">{{ page.title }}</h1></a>
    <span id="slug" class="f5 gray dib">Gus Cuddy // {{ page.date | date: "%B %-d, %Y" }}</span>
</h1>

       <div id="post" class="lh-copy f5 mt4">

       {{ content }}

       </div>
</div>
       <!-- <div id="footer" class="pt2 lh-copy f5-ns f4 bt b--black-40">
         <b><i>Follow me on <a href="http://twitter.com/guscuddy">Twitter</a> and <a href="http://instagram.com/guscuddy">Instagram</a> for more.</b></i>
         <div class="pv3 form-container mv3 pb3 ba b--black-40 br1 shadow-1">
           <div class="ph3">
           <h1 class="f3-ns f2 lh-title ttu tracked tc">Join the Newsletter</h1>
           <p>I publish a weekly newsletter called <a href="https://guscuddy.substack.com/">"The Curtain"</a>, where I share my recent writing on theatre, culture, and the future, as well as links and learnings from the week.</p>

           <p>Subscribe below to get access:</p>

         <form name="submit-to-google-sheet" class="mw7 br2-ns ba b--black-10">
           <div class="cf">
           <input class="f6 f5-l input-reset bn fl black bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" name="email" type="email" placeholder="Email" required>
           <button type="submit" class="f6 f5-l button-reset fl pv3 tc bn bg-animate bg-black hover-bg-red white pointer w-100 w-25-m w-20-l br2-ns br--right-ns dim">Subscribe</button>
           </div>
         </form>

         <p class="js-success-message is-hidden" style="display: none; color:green;">Success! You will receive your first email this Tuesday.</p>
         <p class="js-error-message is-hidden" style="display: none;">Error!</p>
        </div>
         </div>

       <script>
           const scriptURL = 'https://script.google.com/macros/s/AKfycbztKAnb0jXzNot8bvrAIhzCCTS5A_AuOq-1djh4gYd4i-8s2Ak/exec'
           const form = document.forms['submit-to-google-sheet']
           const successMessage = document.querySelector('.js-success-message')
           const errorMessage = document.querySelector('.js-error-message')

           form.addEventListener('submit', e => {
             e.preventDefault()
             fetch(scriptURL, { method: 'POST', body: new FormData(form)})
               .then(response => showSuccessMessage(response))
               .catch(error => showErrorMessage(error))
           })

           function showSuccessMessage (response) {
             console.log('Success!', response)
             setTimeout(() => {
               successMessage.style.display = "block";
             }, 500)
           }

           function showErrorMessage (error) {
             console.error('Error!', error.message)
             setTimeout(() => {
               errorMessage.style.display = "block";
             }, 500)
           }

         </script>

       </div> -->
       <div id="footer">
         <h2 class="center tc white f2 pt2">Sign Up for <span class="i">The Curtain</span></h2>
         <p class="lh-copy near-white f5 mb4 measure center o-70 tc">Join 100+ readers who receive The Curtain email newsletter in their inbox every week. Each week I deep dive into ideas and links from theatre, culture, creativity, film, and more.</p>
         <form name="submit-to-google-sheet" class="measure-wide br2-ns ba b--black-10 center">
           <div class="cf pb4">
           <input class="f6 f5-l input-reset bn fl black bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" name="email" type="email" placeholder="Email" required>
           <button type="submit" class="f6 f5-l button-reset fl pv3 tc bn bg-red white pointer w-100 w-25-m w-20-l br2-ns br--right-ns">Subscribe</button>
           </div>
         </form>

         <p class="js-success-message is-hidden" style="display: none; color:green; text-align: center;">Success! You will receive your first email this Tuesday.</p>
         <p class="js-error-message is-hidden" style="display: none; color:red; text-align: center;">Error!</p>
        </div>
         </div>

       <script>
           const scriptURL = 'https://script.google.com/macros/s/AKfycbztKAnb0jXzNot8bvrAIhzCCTS5A_AuOq-1djh4gYd4i-8s2Ak/exec'
           const form = document.forms['submit-to-google-sheet']
           const successMessage = document.querySelector('.js-success-message')
           const errorMessage = document.querySelector('.js-error-message')

           form.addEventListener('submit', e => {
             e.preventDefault()
             fetch(scriptURL, { method: 'POST', body: new FormData(form)})
               .then(response => showSuccessMessage(response))
               .catch(error => showErrorMessage(error))
           })

           function showSuccessMessage (response) {
             console.log('Success!', response)
             setTimeout(() => {
               successMessage.style.display = "block";
             }, 500)
           }

           function showErrorMessage (error) {
             console.error('Error!', error.message)
             setTimeout(() => {
               errorMessage.style.display = "block";
             }, 500)
           }

         </script>

       </div>
  </body>
  {% include footer.html %}
</html>
