<!doctype html>
<html lang="en">
{% include head.html %}
  <body class="sans-serif ph5-ns ph3 near-black bg-white">
    <div class="center">
    <h1 class="f5 lh-title tc"><a href="/" class="link dark-gray dim">Gus Cuddy</a> | <a href="/blog" class="link dark-gray dim">Essays:</a></h1>
    <h1 class="f1 lh-title tc">{{ page.title }}</h1>
    <h1 class="f5 i gray serif tc"> {{ page.date | date_to_long_string }}</h1>
       <div class="center near-black measure lh-copy serif f3">

       {{ content }}

       </div>
     </div>
  </body>
  {% include footer.html %}
</html>
